
// generate by crud ./internal/model/model.go
// todo 需要修改字段
type {{CONTROLLER_NAME_UPPER}}CreateForm struct {
}

// todo 需要修改字段
type {{CONTROLLER_NAME_UPPER}}DeleteForm struct {
	Id int `json:"id" form:"id" binding:"required,gt=0"`
}

type {{CONTROLLER_NAME_UPPER}}UpdateForm struct {
	{{CONTROLLER_NAME_UPPER}}CreateForm
	{{CONTROLLER_NAME_UPPER}}DeleteForm
}

// todo 需要修改字段
type {{CONTROLLER_NAME_UPPER}}SelectForm struct {
}
