
func New{{CONTROLLER_NAME_UPPER}}Controller() (controller.{{CONTROLLER_NAME_UPPER}}Controller, func(), error) {
	panic(wire.Build(
		New{{CONTROLLER_NAME_UPPER}}Service,
		controller.New{{CONTROLLER_NAME_UPPER}}Controller,
	))
}